body {
    
    margin: 0%;
}
.header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 100px;
    
}
.header-links {
    display: flex;
    gap: 25px;
}
.hero{
    display: flex;
    
}

.herotext {
    padding-right: 35px;
    
}

h1{ 
    font-size: 48px;
    color: #F9FAF8;
    margin: 0%;
    

}
h4, a {
    font-size: 18px;
    color: #E5E7EB;

}

button {
    background-color: #3882F6;
    height: 30px;
    width: 100px;
    color: #E5E7EB;
    border-radius: 8px;
    border: none;
}


.top {
    padding: 20px 10% 100px;
}

.top, .footer {
    background-color: #1F2937;
}


a {
/* this removes the line under our links */
text-decoration: none;

}

ul {
    list-style-type: none;
    display: flex;
    padding: 0%;
    margin: 0%;
    gap: 16px;
    margin-left: auto;
  }

.middle {
    margin: 20px 0%;
    
}
h2 {
    text-align: center;
}

.info {
    padding: 20px 15%;
    display: flex;
    justify-content: space-between;
}

.info img {
    border: 4px solid;
    border-radius: 18px;
    border-color: #3882F6;

}

h6 {
    width: 150px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 20px 15%;
}
h3 {
    text-align: right;
    
}

.calltoaction {
    margin: 20px 10%;
    padding: 20px 5%;
    background-color: #3882F6;
    display: flex;

}
.calltoaction button {
    margin-left: auto;
    border: #E5E7EB;
    border-style: solid;
}

.footer {
    justify-items: center;
    text-align: center;
    padding: 35px;
    color: #E5E7EB;
    height: 30px;
}